.calendarUserHasTransparentEvent {
    opacity: 0.7;
}

.calendarUserHasNonTransparentEvent {
    opacity: 0.4;
}


.ui-tooltip, .qtip {
    font-size: 14px !important;
    line-height: unset !important;
}

.dummy {

}

.noOverflowX {
    overflow-x: hidden !important;
}

.noOverflowX div {
    overflow-x: hidden !important;
}

.noBorder {
    border: none !important;
}

.taskPrioStyle {
    border: none !important;
    padding: 0px !important;
}

.fc-event {
    margin: 1px !important;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    white-space: normal !important;
}

.ui-menu .ui-menu-parent .ui-menu-child {
    width: 200px;
}

.ui-widget {
    font-family: Arial, sans-serif !important;
}

.fontSize13 * {
    font-size: 13px !important;
}

#fetcherForm .ui-selectonemenu {
    min-width: 200px;
    text-align: left;
}

#fetcherForm .ui-selectonemenu-items-wrapper {
    font-size: 13px !important;
}

.ui-datatable thead th {
    border: none !important;
    overflow: hidden;
    padding: 4px 10px;
    white-space: nowrap;
}


.defaultLabel150 {
    text-align: left;
    border: none !important;
    width: 150px;
}

.defaultInput300 {
    text-align: left;
    border: none !important;
    width: 300px;
}

.defaultMessage {
    text-align: left;
    border: none !important;
    color: red;
}

.w100 {
    width: 100px;
}


.hidden {
    display: none !important;
}

.ui-slidemenu-content {
    min-height: 200px;
}


.dummy {
    font-size: 11px !important;
}


.no_border tr {
    border: none !important;
}

.no_border td {
    border: none !important;
}

.no_border {
    border: none !important;
}

.no_border_one tr {
    border: none !important;
    width: 1% !important;
}

.no_border_one {
    border: none !important;
    width: 1% !important;
}

.no_border_fifteen {
    border: none !important;
    width: 15% !important;
}

.no_border_twenty {
    border: none !important;
    width: 20% !important;
}

.no_border_no_padding {
    border: none !important;
    padding: 0px !important;
}

.no_border_no_padding td {
    border: none !important;
    padding: 0px !important;
}

.align_left_no_border {
    text-align: left;
    border: none !important;
}

.align_right_no_border {
    text-align: right;
    border: none !important;
}

.align_top_no_border {
    vertical-align: top;
    border: none !important;
}

.align_middle_no_border {
    vertical-align: middle;
    border: none !important;
}

.align_middle_no_border td {
    vertical-align: middle;
    border: none !important;
}

.align_top_no_border td {
    vertical-align: top;
    border: none !important;
}

.ui-tabs .ui-tabs-panel {
    padding: 0em 0em !important;
}

.ygtvcontent {
    padding-left: 2em !important;
}

.ui-widget-content a {
    color: #000000;
}

.fc-event-title {
    color: #ffffff;
!important;
}

.fc-event-time {
    color: #ffffff;
!important;
}

.task_open {
    background-color: #FFCD93;
    opacity: 0.7;
    color: black;
}

.task_pending {
    background-color: #B5E2FF;
    opacity: 0.7;
    color: black;
}

.task_done {
    background-color: #9CFF82;
    opacity: 0.7;
    color: black;
}

.task_open_circle {
    border: 1px solid #eFbD83;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left: -8px;
    background-color: #FFCD93;
    opacity: 1;
    color: black;
}

.task_pending_circle {
    border: 1px solid #a5d2eF;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left: -8px;
    background-color: #B5E2FF;
    opacity: 1;
    color: black;
}

.task_done_circle {
    border: 1px solid #8CeF72;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left: -8px;
    background-color: #9CFF82;
    opacity: 1;
    color: black;
}

.task_open_min {
    background-color: #FFCD93;
    opacity: 0.7;
    color: black;
    padding: 0px !important;
    margin: 0px !important;
}

.task_pending_min {
    background-color: #B5E2FF;
    opacity: 0.7;
    color: black;
    padding: 0px !important;
    margin: 0px !important;
}

.task_done_min {
    background-color: #9CFF82;
    opacity: 0.7;
    color: black;
    padding: 0px !important;
    margin: 0px !important;
}

td.align_top {
    vertical-align: top;
}

td.align_top150 {
    vertical-align: top;
    width: 150px;
}

.bold {
    font-weight: bold;
}

td.bold {
    font-weight: bold;
}

.ui-column-filter {
    display: block;
    margin: auto;
    width: 80px;
!important;
}

.ui-datatable .ui-column-filter {
    display: block;
    margin: auto;
    width: 80px;
!important;
}

td.minw {
    min-width: 100px;
}


.width10pc {
    width: 10%;
}

.width100pc {
    width: 100%;
}

.width50 {
    width: 50px;
}

.width150 {
    width: 150px;
}

.width800 {
    width: 800px;
}

.ui-log {
    z-index: 2 !important;
}

.input_mandatory {
    font-weight: bold;
}

.input_default {
}

.ui-picklist .ui-picklist-caption {
    border-bottom: 0 none;
    font-size: 11px !important;
    padding: 4px 10px;
    text-align: center;
}

.historyLeftHeaderColumn {
    width: 50%;
    border-bottom: 0px none !important;
    border-right: 0px none !important;
    text-align: left;
    font-weight: bold;
}

.historyRightHeaderColumn {
    width: 50%;
    border-bottom: 0px none !important;
    border-left: 0px none !important;
    text-align: right;
    font-weight: bold;
}

.historyNoteColumn {
    border-top: 0px none !important;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal !important;
}