<?xml version="1.0" encoding="UTF-8"?>
<!--           Iakov Senatov.07.2021                                -->
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level %logger{15} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>
    <!--
           COMMON
     -->
    <root level="DEBUG" additivity="false">
        <appender-ref ref="console"/>
    </root>
    <!--
            LOGGERS
     -->
    <logger name="org.springframework.test" additivity="false" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.hibernate.engine" additivity="false" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.hibernate.type" additivity="false" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.hibernate.internal" additivity="false" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.springframework.beans.factory" additivity="false" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>
    <logger name="io.netty" additivity="false" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.springframework.security" additivity="false" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>
</configuration>
