<?xml version="1.0" encoding="UTF-8"?>
<!--                                                                -->
<!--           Iakov Senatov.04.2020                                -->
<!--                                                                -->
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="app-log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>/tmp/_reservation_log/app-log.log</file>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss} [%-5p] [%-15t] [%C{1}.%M (%L)]: %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>3</maxIndex>
            <FileNamePattern>/tmp/app-log.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>5MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!--
           COMMON
     -->
    <root level="WARN">
        <appender-ref ref="console"/>
        <appender-ref ref="app-log"/>
    </root>

    <!--
            LOGGERS
     -->
    <logger name="com.sun.faces" level="WARN">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.springframework.webflow" level="TRACE">
        <appender-ref ref="app-log"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.springframework.faces" level="TRACE">
        <appender-ref ref="app-log"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.springframework.security" additivity="false" level="WARN">
        <appender-ref ref="app-log"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="javax.faces" additivity="false" level="WARN">
        <appender-ref ref="console"/>
        <appender-ref ref="app-log"/>
    </logger>
    <logger name="org.springframework" additivity="false" level="WARN">
        <appender-ref ref="app-log"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="javax.el" additivity="false" level="WARN">
        <appender-ref ref="console"/>
        <appender-ref ref="app-log"/>
    </logger>
    <logger name="com.sun.faces" additivity="false" level="WARN">
        <appender-ref ref="console"/>
        <appender-ref ref="app-log"/>
    </logger>
</configuration>