<?xml version="1.0" encoding="UTF-8"?>
<!--                                                                -->
<!--           Iakov Senatov.02.2020                                -->
<!--                                                                -->
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="app-log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>/tmp/_reservation_log/app-log.log</file>
        <encoder>
            <pattern>%date %level %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>3</maxIndex>
            <FileNamePattern>/tmp/app-log.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>5MB</MaxFileSize>
        </triggeringPolicy>
    </appender>


    <root level="WARN">
        <appender-ref ref="console"/>
        <appender-ref ref="app-log"/>
    </root>


    <logger name="com.sun.faces" level="WARN">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.springframework.webflow" level="WARN">
        <appender-ref ref="app-log"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.springframework.faces" level="WARN">
        <appender-ref ref="app-log"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.springframework.security" additivity="false" level="WARN">
        <appender-ref ref="app-log"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="javax.faces" additivity="false" level="WARN">
        <appender-ref ref="console"/>
        <appender-ref ref="app-log"/>
    </logger>
    <logger name="org.springframework" additivity="false" level="WARN">
        <appender-ref ref="app-log"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="javax.el" additivity="false" level="WARN">
        <appender-ref ref="console"/>
        <appender-ref ref="app-log"/>
    </logger>
    <logger name="com.sun.faces" additivity="false" level="WARN">
        <appender-ref ref="console"/>
        <appender-ref ref="app-log"/>
    </logger>
</configuration>