<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootAppMain" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="room-reservation" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="de.senatov.reservatio.SpringBootAppMain" />
    <option name="DEBUG_MODE" value="true" />
    <option name="VM_PARAMETERS" value="-Duser.language=en -Duser.region=US -Dorg.apache.commons.logging.LogFactory=org.apache.commons.logging.impl.LogFactoryImpl" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
      <option name="LaunchBrowser.Before.Run" url="http://localhost:18086/ui/reservation" />
    </method>
  </configuration>
</component>